body{
  background-color: gray; 
}
h3{
  color:white;
  text-align:center;
  font-size: 80px;
  text-shadow: 2px 2px 5px red;
}
  img{
    border: dotted lightblue 20px;
  }
  
  li {
    display:inline;
    padding: 15px;
    float:left;
  }
li:hover{
  background-color
}
  
